<div class="well with-inners">
    <div class="inner">
        <h4 class="purple">@Resources.Thread.SatisfactionHeader</h4>
    </div>
    
    <hr/>

    <div class="satisfaction-table">
        <p><i class="icon-ok"></i> @Resources.Thread.SatisfactionVerification</p>
        <p><i class="icon-ok"></i> @Resources.Thread.SatisfactionAnonymous</p>
        <p><i class="icon-ok"></i> @Resources.Thread.SatisfactionSecure</p>
        <p><i class="icon-ok"></i> @Resources.Thread.SatisfactionAssess</p>
        <p><i class="icon-ok"></i> @Resources.Thread.SatisfactionAccept</p>
    </div>
</div>