@using Experts.Web.Helpers
@model Experts.Web.Models.Forms.ReportIssueForm

<div class="modal fade" id="issueModal">
    @using (Html.BeginForm(MVC.Thread.ReportIssue(), FormMethod.Post, new { id = "reportIssueForm" }))
    {
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>@Resources.Thread.ThreadReportIssueTitle</h3>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(model => model.ThreadId)

            @Html.EditorForEnum(model => model.IssueType, Resources.Thread.ResourceManager)

            @Html.EditorFor(model => model.Comment)
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal">@Resources.Forms.Cancel</a>
            <a class="btn btn-primary" id="submitReportIssue" data-dismiss="modal">@Resources.Thread.ThreadReportIssueSaveButton</a>
        </div> 
    }
</div>

<script type="text/javascript">
    $(function () {
        $('#issueModal').modal({
            show: false
        });

        $('#submitReportIssue').click(function () {
            $.post('/Thread/ReportIssue', $('#reportIssueForm').serialize(), function (result) {
                if (!result) {
                    window.location.reload();
                    $('#report-issue-button').hide();
                } else {
                    $('#issueModal').replaceWith(result);
                    $('#issueModal').modal({ show: true });
                }
            });
        });
    });
    

</script>
