@using Experts.Web.Helpers
@model Experts.Web.Models.Threads.ThreadDetailsSeo


<h2 class="with-hint"><span>Fraza:</span> @Model.SeoDetails.Phrase</h2>
<p class="hint">@Resources.Catalog.KeywordFromCategory <span id="category-description" data-original-title="@Model.SeoDetails.Category.Name" data-content="@Model.SeoDetails.Category.Description">@Html.CategoryIconTiny(Model.SeoDetails.Category)</span> @Model.SeoDetails.Category.Name</p>

<hr/>

<div class="span16 zero-margin">
    <div>
        @Resources.Catalog.PhraseDescription @Html.ActionLink(Resources.Catalog.LearnMore, MVC.StaticPages.MeetAsknuts(), new { @class = "underline" }) <br /><br />
        @Resources.Catalog.KeywordEncouregment 
        <hr class="top-hr"/>
    </div>
    @Html.Partial(MVC.Thread.Views._FormTiny, Model)
</div>

<div class="well with-inners expert-box">
    @Html.Action(MVC.Thread.MultiExpertBox(false, Model.SeoDetails.Category.Id))
</div>

<hr/>

@if (Model.Threads.Any())
{
    <h3>@Resources.Thread.SimiliarAnswers</h3>
    <ul class="question-list">
        @Html.Partial(MVC.Thread.Views._QuestionsListItems, Model.Threads)
    </ul>
}

<script type="text/javascript">
    $("#category-description").popover();
</script>